In [ ]:
# Imports 

import pandas as pd
import numpy as np 
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

In [ ]:
import pandas as pd

scaled = pd.read_csv('https://raw.githubusercontent.com/trackteam-spotify/data-science/master/data/final_scaled_dataset.csv')

scaled.head()

   index        artist_name  ...  loudness     tempo
0      1   Nicholas Britell  ... -2.108236 -1.200244
1      2               Seeb  ...  1.254850  0.614084
2      3           Lagwagon  ...  0.643049 -0.479831
3      4      Super Whatevr  ... -1.292787  0.206582
4      5  The Front Bottoms  ...  0.942632  1.048378

[5 rows x 11 columns]

In [ ]:
scaled.shape

(5000, 11)

In [ ]:
# Variables to cluster

cluster = ['popularity', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'tempo']

distortion = list()
for k in range(1, 31): #started with range [1, 51] and narrowed down to this range 
    kmeans = KMeans(n_clusters = k)
    kmeans.fit(scaled.loc[:, cluster])
    distortion.append(kmeans.inertia_) # append distortion value to list

## Modeling K-Nearest Neighbors

In [ ]:
knn = NearestNeighbors(n_neighbors=15)
features = ['popularity', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'tempo']
X = scaled[features].values

knn.fit(X)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                 radius=1.0)

In [ ]:
# test on 1 song
test_song = X[20]

distance, neighbors = knn.kneighbors(np.array([test_song]))
distance, neighbors

(array([[0.        , 1.46766252, 1.52314017, 1.57377157, 1.74079113,
         1.78388131, 1.96554481, 2.17543608, 2.1992158 , 2.20622472,
         2.26835241, 2.36159373, 2.48934627, 2.50503793, 2.51645628]]),
 array([[  10, 1393,  413, 2638,  561, 4245, 1102, 2066, 3352, 3298, 2179,
         4048, 4914, 3753, 2233]]))

In [ ]:
scaled.iloc[20]

index                                           21
artist_name                               Dua Lipa
track_name          New Rules - Initial Talk Remix
track_id                    2ygfHXyt3gvyhvKrNJU61n
popularity                                0.750656
danceability                             -0.341411
energy                                     1.59248
instrumentalness                         -0.398629
liveness                                 -0.235938
loudness                                   1.15463
tempo                                    -0.108978
Name: 20, dtype: object

## New playlist based off user input

In [ ]:
song_list = []
for item in neighbors[0][1:]: # this way excludes itself
    row = scaled.iloc[item]
    song_list.append((row.track_name, row.artist_name))
    
names = ['song', 'artist']

new_playlist = pd.DataFrame(song_list, columns=names)
print(recommendations.shape)
new_playlist

(14, 2)

                                                 song                     artist
0                                          She's Gone    Daryl Hall & John Oates
1                       Walk On Water (feat. Beyoncé)                     Eminem
2                                   Stupid Love Story                 Canserbero
3                                            comethru              Jeremy Zucker
4                           love yourself (interlude)               XXXTENTACION
5                   Starman - 2012 Remastered Version                David Bowie
6                      Someone You'd Rather Be Dating                     Sports
7   Loco (Tu Forma de Ser) [Ft. Rubén Albarrán] - ...  Los Auténticos Decadentes
8                                          Mortal Man             Kendrick Lamar
9                              Bring It On Home to Me                  Sam Cooke
10                                         Still Here                      Drake
11                                              Jello                 PRETTYMUCH
12                                     One Jump Ahead                  Brad Kane
13                                        Shot For Me                      Drake